<div class="home">

<div class="banner"  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0)), url(<%= asset_path 'hero1.jpg'%>)">
  <div class="container">
<div class="container">
  <div class="search-box">
    <h1>Looking for a boat?</h1>
    <%= form_tag boats_path, method: :get, class: "simple_form search", id:"search-index" do %>
    <div class="search-form-control form-group">
      <label for="city">where</label>
      <%= text_field_tag :city, params[:city], class: "form-control string required field", placeholder: "City"%>
        <label for="date">when</label>
        <div class="index_dates">

        <%= text_field_tag :daterange, params[:date_range], class: "form-control string required field", placeholder: "start - end"%>
        <!-- script to display calendar -->
        <script>
          $(function() {
            $('input[name="daterange"]').daterangepicker({
              cssClass:"index_dates",
              opens: 'right'
            }, function(start, end, label) {
              console.log(start, end);
            });
          });
        </script>
        <!-- end of script to display calendar -->
        </div>
            <label for="category">what</label>
              <%= select_tag :category, raw("<option>petit calibre</option><option>moyen calibre</option><option>gros calibre</option>"), class: "form-control string required field"%>
              <%= button_tag icon('fas', 'search', ' Search'), class: "btn btn-flat", id: "submit-search" %>
            </div>
            <% end %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-category">
  <div class="container">
    <h2>Catégories de bateaux</h2>
    <div class="grid">
      <div class="card-category" style="background-image: url(https://images.unsplash.com/photo-1516756112173-f79f9fe89988?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1568&q=80)">
        <a href="boats?category=petit+calibre"></a>
        <h3>Petit calibre</h3>
        <div class="fx"></div>

      </div>
      <div class="card-category" style="background-image: url(https://www.lescanalous.com/wp-content/uploads/2018/09/globesailor1.jpg)">
        <a href="boats?category=moyen+calibre"></a>
        <h3>Moyen calibre</h3>
        <div class="fx"></div>

      </div>
      <div class="card-category" style="background-image: url(https://www.centralyachtagent.com/yachtadmin/yachtlg/yacht5873/5873brochure1.jpg)">
        <a href="boats?category=gros+calibre"></a>
        <h3>Gros calibre</h3>
        <div class="fx"></div>

      </div>

    </div>
  </div>
</div>

<div class="section-category">
  <div class="container">
    <h2>Villes</h2>
    <div class="grid">
      <div class="card-category" style="background-image: url(http://www.hoteledmondrostand.com/actualites/wp-content/uploads/2017/08/le-vieux-port-de-marseille-la-nuit-e1502528893639.jpg)">
        <a href="boats?city=ajaccio"></a>
        <h3>Ajaccio</h3>
        <div class="fx"></div>

      </div>
      <div class="card-category" style="background-image: url(http://www.2a.cci.fr/assets/components/tinymce/jscripts/tiny_mce/plugins/filemanager/files/Copie%20de%20084_14.8_AJACCIO_ST%20ERASME.jpg)">
        <a href="boats?city=marseille"></a>
        <h3>Marseille</h3>
        <div class="fx"></div>

      </div>
      <div class="card-category" style="background-image: url(https://cdn.static01.nicematin.com/media/npo/mobile_1440w/2018/09/40987562.jpg)">
        <a href="boats?city=toulon"></a>
        <h3>Toulon</h3>
        <div class="fx"></div>
      </div>

    </div>
  </div>
</div>

<div class="section-review">
  <div class="container">
    <h2>Reviews</h2>
    <div class="reviews">
      <div class="review">
        <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
        <div class="review-content">
          <p class='date'><small>14th January</small></p>
          <p class="stars">Stars</p>
          <p class='description'>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
        </div>
      </div>


              <div class="review">
                <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
                <div class="review-content">
                  <p class='date'><small>9th January</small></p>
                  <p class="stars">Stars</p>
                  <p class='description'>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
                </div>
              </div>
              <div class="review">
                <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
                <div class="review-content">
                  <p class='date'><small>9th January</small></p>
                  <p class="stars">Stars</p>
                  <p class='description'>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
                </div>
              </div>
              <div class="review">
                <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
                <div class="review-content">
                  <p class='date'><small>9th January</small></p>

                  <p class='description'>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
