<div class="show">
  <div class="show-container">
    <div class="row">
      <div class="col-8 border p-0">


        <p id="notice"><%= notice %></p>
        <img class=img-show src="https://<%= @boat.photo %>" />

        <h1><%= @boat.name %> </h1>


        <p>Category: <%= @boat.category %> </p>

        <h2>Description:</h2>
        <div class="description">
          <%= simple_format(@boat.description) %>
        </div>
        <div id=long class="hidden"><%=@boat.lat%></div>
        <div id=lat class="hidden"><%=@boat.long%></div>
        <div id="map"></div>
        <br>
        <p>
          <img class="avatar-large" src="<%= @boat.user.photo %>" />
          <%= @boat.user.username %>
          <hr>
          <%= @boat.user.description %>
        </p>

        <%= link_to 'Edit', edit_boat_path(@boat) %> |
        <%= link_to 'Back', boats_path %>

        </div>
    <div class="col-4 border">
    <div class="booking-container">
      <%= simple_form_for [@boat, Booking.new] do |f| %>
          <%= f.input :date_begin, placeholder: "date du debut "%>
          <%= f.input :date_end, placeholder: "date de fin"%>
          <%= f.submit "Reserver", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    </div>
</div>


